{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
    <div class="container-fluid px-4">
      <a class="navbar-brand active" href="{% url 'home' %}">
        <img src="{% static 'images/django_icon.png' %}" width="72" alt="Client Tracker">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="nav navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}">
            <span class="fa fa-home" aria-hidden="true"></span>
            <span>Home</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="{% url 'find_client' %}">
            <span class="fa fa-search" aria-hidden="true"></span>
            <span>Find Clients</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'add_client' %}">
            <span class="fa fa-plus" aria-hidden="true"></span>
            <span>Add Client</span></a>
          </li>
        </ul>
      </div>
    </div>
</nav>
