{% extends 'base.html' %}

{% block content %}
  <form method="get" class="form-horizontal mb-4" id="search-client-form">
    <h2>Find Clients</h2>

    <div class="mb-3">
      <label class="form-label" for="lastName">Last name</label>
      <input class="form-control" id="lastName" name="lastName" value="{{ last_name }}" size="30" maxlength="80">
    </div>
  </form>

  <h3>Clients</h3>

  {% if clients %}
    <table id="clients" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>Telephone</th>
        </tr>
      </thead>
      <tbody>
        {% for client in clients %}
          <tr>
            <td>{{ client.first_name }} {{ client.last_name }}</td>
            <td>{{ client.address }}</td>
            <td>{{ client.city }}</td>
            <td>{{ client.telephone }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No clients found.</p>
  {% endif %}
{% endblock %}
